.contacts {
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 660px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.contacts__wrapper {
  text-align: center;
  padding: 0 40px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.contacts__subject-wrapper {
  text-align: center;
  padding: 50px 43px 45px 49px;

  @media (min-width: @tablet-width) {
    padding: 55px 145px 51px 145px;
  }
}

.contacts__question {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}

.contacts__answer {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}

.contacts__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.contacts__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @red;
  text-decoration: none;
  margin-bottom: 31px;
}
