.features {
  background-color: @lightgray;
}

.features__wrapper {
  padding: 0 20px;
  width: 320px;
  text-align: center;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    width: 660px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 154px;
    flex-direction: column-reverse;
    width: 1200px;
  }
}

.features__list {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.features__pictures {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-around;
  }
}

.features__pictures-item {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.features__title {
  margin: 0;
  margin-bottom: 24px;
  margin-top: 43px;
  font-weight: bold;
  font-size: 18px;
}

.features__description {
  margin-bottom: 48px;
}
