.form__title {
  line-height: 30px;
  margin-top: 54px;
  margin-bottom: 55px;
}

.form__wrapper {
  padding: 0 20px;
}

.form__input {
  display: flex;
}

.form__label {
  line-height: 30px;
  color: @red;
  text-transform: uppercase;
}

.form__placeholder {
  font-size: 18px;
  line-height: 30px;
  padding-left: 20px;
  padding-top: 23px;
  padding-bottom: 23px;
  border: 2px solid @border;
  border-radius: 1px;
}

.form__fieldset {
  display: flex;
  margin-top: 44px;
  margin-bottom: 42px;
  padding: 0;
  border: none;
  background-color: @lightgray;
}

.form__fieldset-title {
  line-height: 18px;
  color: @red;
  text-decoration: uppercase;
  margin-top: 42px;
  margin-bottom: 55px;
}

.form-achievments__item {
  margin-bottom: 69px;
}

.form-achievments__item--hotel {
  margin-bottom: 55px;
}

.form-achievments__text {
  font-size: 18px;
  line-height: 30px;
}

.form-app__title {
  margin-bottom: 52px;
}

.form-app__item {
  margin-bottom: 62px;
}

.form-app__item--windows {
  margin-bottom: 54px;
}

.form-app__text {
  font-size: 18px;
  line-height: 30px;
}

.form__emotions {
  display: flex;
}

.form-emotions__text {
  text-transform: uppercase;
  line-height: 18px;
  color: @red;
  margin-bottom: 22px;
}

.form__subtext {
  line-height: 30px;
  text-transform: uppercase;
}

.form__star {
  color: @red;
}
