.form__title {
  line-height: 30px;
  margin-top: 54px;
  margin-bottom: 55px;
}

.form__wrapper {
  padding: 0 20px;
}

.form__holder {
  display: flex;
}

.form__field-label {
  line-height: 30px;
  color: @red;
  text-transform: uppercase;
}

.form__field-input {
  font-size: 18px;
  line-height: 30px;
  padding-left: 20px;
  padding-top: 23px;
  padding-bottom: 23px;
  border: 2px solid @border;
  border-radius: 1px;
}

.form__fieldset {
  display: flex;
  margin-top: 44px;
  margin-bottom: 42px;
  padding: 0;
  border: none;
  background-color: @lightgray;
}

.form__fieldset-title {
  line-height: 18px;
  color: @red;
  text-decoration: uppercase;
  margin-top: 42px;
  margin-bottom: 55px;
}

.form__checkbox-item {
  margin-bottom: 69px;
}

.form__checkbox-item--last {
  margin-bottom: 55px;
}

.form__checkbox-text {
  font-size: 18px;
  line-height: 30px;
}

.form-app__title {
  margin-bottom: 52px;
}

.form__radio-item {
  margin-bottom: 62px;
}

.form__radio-item--windows {
  margin-bottom: 54px;
}

.form__radio-text {
  font-size: 18px;
  line-height: 30px;
}

.form__textarea {
  display: flex;
}

.form__textarea-text {
  text-transform: uppercase;
  line-height: 18px;
  color: @red;
  margin-bottom: 22px;
}

.form__subtext {
  line-height: 30px;
  text-transform: uppercase;
}

.form__star {
  color: @red;
}
