.main-nav__header {
  background-color: fade(@black, 30%);
  color: @white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: auto;

  @media (min-width: @desktop-width) {
    padding: 0 130px;
  }
}

.main-nav {
  max-width: 1200px;
  height: 66px;
  text-align: center;

  @media (min-width: @tablet-width) {
    min-height: 110px;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-nav__text {
  position: relative;
  display: block;
  padding: 25px 117px;
  text-decoration: none;
  text-transform: uppercase;
  color: @white;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  box-shadow: 0 1px 0 @black, inset 0 1px 0 rgba(@white, 0.15);
  white-space: nowrap;

  @media (min-width: @desktop-width) {
    box-shadow: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-transform: none;
    padding: 48px 0;
  }

  &:hover {
    color: @red;
  }

  &:focus {
    color: @red;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 21px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 50px;
  height: 24px;
  background-color: inherit;
  cursor: pointer;
  border: none;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: @white;
  box-shadow: 0 9px 0 0 @white, 0 18px 0 0 @white;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: @red;
  box-shadow: 0 9px 0 0 @red, 0 18px 0 0 @red;
}

.main-nav--closed .main-nav__toggle:focus::before {
  background-color: @red;
  box-shadow: 0 9px 0 0 @red, 0 18px 0 0 @red;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(@red, 30%);
  box-shadow:
    0 8px 0 0 fade(@red, 30%),
    0 16px 0 0 fade(@red, 30%);
}

.main-nav--opened .main-nav__toggle {
  top: 23px;
  right: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 30px;
    height: 3px;
    background-color: @white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: @red;
  }

  &:focus::before,
  &:focus::after {
    background-color: @red;
  }

  &:active::before,
  &:active::after {
    background-color: fade(@red, 30%);
  }
}

.main-nav__item {
  width: auto;

  @media (min-width: @desktop-width) {
    margin-right: 79px;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 25px;
        left: 0;
        height: 2px;
        background: @white;
      }
    }
  }
}

.main-nav__item-logo {
  display: flex;
  justify-content: left;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 20px;

  @media (min-width: @desktop-width) {
    width: auto;
    height: 40px;
    padding-right: 173px;
    padding-bottom: 43px;
    padding-top: 27px;
    padding-left: 0;
  }
}

.main-nav--closed .main-nav__item {
  @media (max-width: @desktop-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  min-height: 80vh;
  width: 100%;

  @media (min-width: @desktop-width) {
    position: relative;
    width: auto;
  }
}

.main-nav--opened .main-nav__list {
  background-color: @darkgray;

  @media (min-width: @desktop-width) {
    background-color: inherit;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
  background-color: @darkgray;

  @media (min-width: @desktop-width) {
    background-color: inherit;
  }
}

.main-nav--nojs .main-nav__item {
  display: block;
}
