.modal__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: @black;
  margin-top: 44px;
  margin-bottom: 37px;
}

.modal__button--wrapper {
  background-color: @lightgray;
  margin-top: 41px;
  padding-top: 52px;
  padding-bottom: 52px;
}

.modal__button-success {
  margin-top: 50px;
}
