.page-header {
  background-color: @darkgray;
  color: @white;
  display: flex;
}

.main-nav__text {
  text-decoration: none;
  text-transform: uppercase;
  color: @white;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;;
}

.main-nav__item {
  box-shadow: 0px 1px 0px #000000, inset 0px 1px 0px rgba(255, 255, 255, 0.15);
}

