.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 74px;
  width: 320px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    padding: 40px 20px;
    width: 660px;
  }

  @media (min-width: @desktop-width) {
    padding: 75px 130px;
    width: 1200px;
  }
}

.page-footer__list {
  display: flex;
  justify-content: center;
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
}

.copyright__text {
  line-height: 14px;
}
