.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 60px;
  width: auto;
  box-sizing: border-box;
  justify-content: center;
  margin: auto;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    padding: 18px 20px;
    align-items: flex-end;
  }

  @media (min-width: @desktop-width) {
    padding: 52px 130px;

    &--catalog {
      padding: 81px 130px;
    }
  }
}

.page-footer__list {
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    padding-right: 16px;
    padding-bottom: 3px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;
    padding-left: 9px;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 33px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-bottom: 4px;
  }
}

.page-footer__text {
  line-height: 18px;

  @media (min-width: @tablet-width) {
    padding-bottom: 8px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    padding-bottom: 17px;
  }
}

.page-footer__item {
  margin-right: 9px;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: @tablet-width) {
    margin-right: 8px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 5px;
  }
}

.page-footer__link {
  background-color: @white;
  border-radius: 50%;
  border: 3px solid fade(@darkgray, 10%);
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    border: 3px solid @darkgray;
  }

  &:active {
    border: 3px solid fade(@darkgray, 10%);
    opacity: 0.3;
  }
}

.page-footer__link-academy {
  fill: @red;
  padding-left: 16px;
  padding-top: 3px;

  @media (min-width: @desktop-width) {
    padding-left: 13px;
    padding-bottom: 4px;
  }

  &:hover,
  &:focus {
    fill: @darkgray;
  }

  &:active {
    fill: @darkgray;
    opacity: 0.3;
  }
}

.page-footer__logo {
  fill: @darkgray;
  padding-bottom: 33px;

  @media (min-width: @tablet-width) {
    padding-top: 18px;
    padding-bottom: 10px;
  }

  &:hover,
  &:focus {
    fill: @red;
  }

  &:active {
    fill: @darkgray;
    opacity: 0.3;
  }
}
