.panorama__aside {
  background-color: @red;
  padding: 13px 20px 14px 19px;
}

.panorama__subtitle {
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  color: @white;
}

.panorama-description {
  display: flex;
  margin: 0 20px;
  background-color: @lightgray;
}

.panorama-description__username {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.panorama-description__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: @darkgray;
  text-transform: uppercase;
}

.panorama-description__likes {
  font-size: 12px;
  color: @red;
  text-transform: uppercase;
}
