.post {
  background-color: @lightgray;
}

.post__wrapper {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.post__controls-list {
  display: flex;
  margin-top: 42px;
  margin-bottom: 39px;
}

.post__form {
  border: none;
  border-bottom: 1px solid rgba(@darkgray, 0.1);
  margin-bottom: 39px;
}

.post__button-cancel {
  margin-bottom: 41px;
}
