.post {
  background-color: @lightgray;
  text-align: center;

  @media (min-width: @desktop-width) {
    padding: 0 130px;
    background-color: inherit;
  }
}

.post__item {
  position: relative;
  display: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 34px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 34px;
    left: -20px;
    width: 320px;
    border-bottom: 1px solid fade(@darkgray, 10%);

    @media (min-width: @tablet-width) {
      width: 275px;
      left: -40px;
    }

    @media (min-width: @desktop-width) {
      width: 410px;
      left: -50px;
    }
  }

  &--active {
    display: block;
  }

  @media (min-width: @tablet-width) {
    display: block;
    margin-bottom: 44px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 37px;

    &:last-child::before {
      border: none;
    }
  }
}

.post__wrapper {
  padding-top: 20px;
  padding-bottom: 50px;

  @media (min-width: @tablet-width) {
    display: flex;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    background-color: @lightgray;
    padding-left: 80px;
    padding-right: 60px;
  }
}

.post__controls-list {
  display: flex;
  justify-content: space-around;
  padding-top: 42px;
  padding-bottom: 39px;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: block;
    margin: inherit;
    padding-top: 9px;
    padding-left: 50px;
  }
}

.post__controls-item {
  fill: fade(@darkgray, 30%);

  @media (min-width: @tablet-width) {
    fill: @red;
    padding-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 21px;
  }

  &:hover,
  &:focus {
    fill: fade(@darkgray, 50%);
  }

  &--active {
    fill: @red;
  }
}

.post__fieldset {
  border: none;
  padding: 0;
  padding-bottom: 36px;

  @media (min-width: @tablet-width) {
    padding-top: 19px;
    padding-bottom: 24px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 33px;
    padding-bottom: 100px;
  }
}

.post__form-buttons {
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.post__bar {
  min-width: 240px;
  height: 2px;
  background: @black;

  @media (min-width: @tablet-width) {
    width: 202px;
  }

  @media (min-width: @desktop-width) {
    width: 340px;
  }
}

.post__toggle {
  position: absolute;
  background-color: @white;
  border: 2px solid @red;
  border-radius: 50%;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  bottom: 28px;
}

.post__img {
  @media (min-width: @tablet-width) {
    width: 50%;
    height: 50%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    height: 100%;
  }
}

.post__button {
  background-color: inherit;
  border-radius: 30px;
  padding: 15px 90px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  font-family: "Open Sans", sans-serif;

  @media (min-width: @tablet-width) {
    padding: 15px 80px;
    min-width: 260px;
  }

  @media (min-width: @desktop-width) {
    padding: 15px 42px;
    min-width: 183px;
  }

  &--post {
    color: @red;
    border: 3px solid @red;
    margin-bottom: 12px;

    &:hover,
    &:focus {
      color: @white;
      background-color: @red;
    }

    &:active {
      color: fade(@white, 30%);
    }

    @media (min-width: @tablet-width) {
      margin-bottom: 24px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
      margin-right: 44px;
    }
  }

  &--cancel {
    color: fade(@darkgray, 10%);
    border: 3px solid fade(@darkgray, 10%);

    &:hover,
    &:focus {
      color: fade(@darkgray, 30%);
      border-color: fade(@darkgray, 30%);
    }

    &:active {
      color: fade(@white, 30%);
      background-color: fade(@darkgray, 30%);
    }
  }
}
