.price {
  background-color: @lightgray;
  padding-top: 120px;
  padding-bottom: 45px;
}

.price__table {
  margin-bottom: 45px;
}

.price__option {
  background-color: @white;
  border: 2px solid @lightgray;
}

.price__row {
  background-color: @darkgray;
  color: @white;
}
