.research {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.research__wrapper {
  display: flex;
}

.research__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.research_more {
  color: @red;
}
