.research {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    background-color: @lightgray;
    margin-top: -8px;
  }
}

.research__wrapper {
  display: flex;

  @media (min-width: @tablet-width) {
    padding-top: 46px;
  }

  @media (min-width: @desktop-width) {
    max-width: 100%;
    padding-top: 28px;
    padding-bottom: 65px;
  }
}

.research__timer {
  padding-left: 7px;

  @media (min-width: @desktop-width) {
    min-width: 298px;
  }
}

.research__article {
  @media (min-width: @tablet-width) {
    padding-left: 72px;
  }
}

.research__title {
  margin: 0;
  padding-top: 43px;
  padding-right: 162px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
    padding-top: 97px;
    line-height: 30px;
  }
}

.research_more {
  color: @red;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.research__description {
  padding-right: 20px;
  padding-bottom: 10px;

  @media (min-width: @desktop-width) {
    padding: 26px 40px 32px 0;
    font-size: 18px;
    line-height: 30px;
  }
}
