.subject {
  margin-top: 46px;
  margin-bottom: 70px;
  padding: 0 20px;
  width: 320px;
  box-sizing: border-box;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    width: 660px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 210px;
    width: 1200px;
  }
}

.subject__question {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.subject__answer {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}
