.subtitle {
  padding: 55px 20px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 100px 85px 82px 85px;
  }

  @media (min-width: @desktop-width) {
    padding: 100px 222px 84px 222px;
  }
}

.subtitle__text {
  line-height: 30px;
}
