.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.fix {
  padding: 0 20px;
  width: 320px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 660px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 130px;
    width: 1200px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  color: @darkgray;
}

h1 {
  margin: 0;
  padding: 0;
}
